.body {
 background-color: darksalmon;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.title {
  cursor: default;
}

.langChange {
  cursor: default;
}

.textareaWindow {
  display: block;
  width: 100%;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}

#keyboard {
  display: block;
  border: 2px solid black;
  padding: 5px;
}

.keyboard-key {
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.1s;
}

.keyboard-key-backspace {
  width: 12%;
  max-width: 114px;
}

.keyboard-key-caps-lock {
  width: 12%;
  max-width: 114px;
}

.keyboard-key-enter {
  width: 12%;
  max-width: 114px;
}

.keyboard-key-shiftleft {
  width: 25%;
  max-width: 178px;
}

.keyboard-key-shiftright {
  width: 12%;
  max-width: 50px;
}

.keyboard-key-space {
  width: 50%;
  max-width: 434px;
}

.active {
  border-radius: 50%;
  background: red;
}
